body  {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;



}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
.middle-container {
  margin: 100px 0;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;

}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;


}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.top-container a {
  color: #11999E;
}

.pro {
  border-bottom: 4px solid #66BFBF;

    padding-bottom: 10px;


}



.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}


.bottom-container
{
  background-color: #66bfbf;
  padding: 50px 0 20px 0;

}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 40px;
    right: 300px;

}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;

}

.data {
  width: 25%;
  float: right;
  margin-left: 30px;

}

.intro {
  width: 30%;
  margin: auto;
}


.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #1199E);
  background-image: -moz-linear-gradient(top, #11CDD4, #1199E);
  background-image: -ms-linear-gradient(top, #11CDD4, #1199E);
  background-image: -o-linear-gradient(top, #11CDD4, #1199E);
  background-image: linear-gradient(to bottom, #11CDD4, #1199E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
